<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Main Page</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <div class="login">
    <h1>Suyog Traders</h1>
    <div class="options-container">
      <ul>
        <li><a href="/sale_invoice">Sales Invoice</a></li>
        <li><a href="/balance_adjustment">Balance Adjustment</a></li>
        <li><a href="/add_new_customer">Add New Customer</a></li>
        <li><a href="/add_product">Add Product</a></li>
      </ul>
    </div>
  </div>
</body>
</html>

